@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Asap';

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1em;
  width: 100%;
  height: 2em;
  padding-top: .5em;
  background-color: #34495e;
  color: white;
  text-align: center;
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
}

#userHouse {
  font-family: 'Droid Sans', sans-serif;
  width: 30em;
  height: 30em;
  background-color: #f9f9f9;
  font-size: .75em;
  float: right;
  display: inline-block;
  border: 1px solid #ddd;
  margin-right: 5px;
}

#imageHouse {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  overflow: hidden;
  margin: 25px 0 0px 25px;
  border: 1px solid #ddd;
  display: inline-block;
}

#imageHouse > img {
  transform: scale(0.27);
  left: -278px;
  top: -249px;
  position: relative;
}

h2 {
  position: relative;
  padding: 0;
  margin: 0;
  color: #333;
  font-size: 2.6em;
}

#nameHouse {
  clear: left;
  height: 5em;
  float: right;
  width: 65%;
  text-align: center;
  margin-top: 4em;
}

h3 {
  position: relative;
  float: right;
  display: inline-block;
  clear: both;
  font-size: 1.55em;
  top: 0%;
  right: 45%;
  padding-top: 8px;
  margin-bottom: 1em;
}

#userHeader {
  width: 100%;
  height: 40%;
}

.userInfo {
  height: 1.5em;
  width: 7em;
  background-color: white;
  border: 1px #2ecc71 solid;
  float: left;
  margin-top: 5%;
  position: relative;
  display: block;
  left: 60%;
  padding-top: .5em;
  text-align: center;
  font-size: 1.5em;
  border-radius: .2em;
}

#dayHouse {
  width: 100%;
  background-color: #ecf0f1;
  text-align: center;
  height: 2em;
  font-size: 1.5em;
  padding-top: .5em;
  color: #333;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px -4px gray;
  font-family: 'Droid Sans', sans-serif;
}

button {
  text-decoration: none;
  background-color: #3498db;
  text-transform: uppercase;
  font-size: .5em;
  color: white;
  padding: 10px 20px;
  margin-left: 1em;
  border: 0;
  border-radius: 6px;
  font-family: 'Asap', sans-serif;
}

button:hover {
  background-color: #2980b9;
}

#upgradeScoutingHouse {
  clear: both;
  width: 100%;
  height: 4em;
  text-align: center;
}

#upgradeScouting {
  position: relative;
  font-size: inherit;
  background-color: #fff;
  border: 1px solid #bdc3c7;
  color: #333;
  margin-top: 3em;
}
#upgradeScouting:hover {
  background-color: #bdc3c7;
}

#gameList {
  position: relative;
  float: left;
  width: 56.1em;
  height: 100%;
  margin-left: 5px;
  background-color: white;
  font-family: 'Droid Sans', sans-serif;
}

#bodyDiv {
  width: 80em;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}

input {
  width: 5em;
  display: inline-block;
  border: 1px solid #95a5a6;
  border-radius: 6px;
  padding: 5px 10px;
}

.inline-paragraph {
  display: inline;
}

.gameHouse {
  padding: .7em 2em;
}

.gameHouse:nth-of-type(odd) {
  background-color: #f9f9f9;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.gameHouse:hover {
  background-color: #f0f0f0;
}

.return {
  width: 2.7em;
  display: inline-block;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 12px;
  background-color: white;
  border: 1px solid #e74c3c;
  float: right;
  margin-left: 1.5em;
  height: 13px;
}

.text-muted {
  color: rgb(154, 154, 154);
}

#earnings-text {
  float: left;
  padding-top: 5px;
  padding-right: 15px;
}

#earnings {
  width: 5em;
  display: inline-block;
  border: 1px solid #2ecc71;
  border-radius: 6px;
  padding: 5px 10px;
  height: 1em;
}

p {
  padding-left: 1.2em;
  font-size: .9em;
}

.pull-right {
  float: right;
}

#summaryHouse {
  border-top: 1px solid #ddd;
  padding-top: 0.95em;
  padding-left: 2em;
}
